[mongo]
uri = "mongodb+srv://<username>:<password>@cluster0.exmpl.mongodb.net/?retryWrites=true&w=majority"

[groq]
api_key = "gsk_your_groq_api_key_here"

[email]
sender = "your_email@gmail.com"
password = "your_app_password"
